/*
**********************************************
* Default theme Colors
**********************************************
*/

$theme-blue             : #364668;
$theme-green            : #41D2D2;
$theme-black            : #000000;
$header-bg-color        : #ffffff;
$red-notification-color : #EC1246;
$theme-red            : #EC1246;
$theme-black            : #000000;
$theme-black2            : #000000;
$theme-white             : #ffffff;
$header-bg-color        : #ffffff;
$link-hover-white       : #F9F9F9;
$hr-color               : #C4C4C4;
$theme-grey             : #9F9F9F;
$bg-box-grey            : #FBFBFC;

$progress-bgcolor: #FFF7E6;
$progress-color: #FFAE00;

$success-bgcolor: #EBF9F4;
$success-color: #2FB182;

$cancelled-bgcolor: #FDF4F6;
$cancelled-color: #DE486C;


/*
**********************************************
* Default theme Global styling
**********************************************
*/

html,
body {
  height: 100%;
  position: relative;
  box-sizing: border-box;

}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: $theme-black;
  box-sizing: border-box;
  overflow: hidden;
}
p{
  font-family: 'Poppins', sans-serif;
  color: $theme-black;
  font-weight: 400;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Poppins', sans-serif;
}
a{
  font-family: 'Poppins', sans-serif;
}

input::placeholder{
  font-size: 13px;
}
textarea{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: 100% !important;
  &::placeholder{
    font-size: 13px;
  }
}
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;

  }

}

.validationText {
  color: red !important;
}
.spin-loader {
  text-align: center;
  height: 50px;
  margin-top: 20px;
  padding-top: 20px;
}


.css-kud8pv {
  position: relative;
  font-size: 0;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: $theme-grey;
}
::-webkit-scrollbar-thumb {
  background: $theme-blue;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $theme-black;
  opacity: 0.5;
  transition: all 0.5s ease;
}

::selection{
  background-color: $theme-blue;
  color: #fff;
}


.sc-dnwKUv.hXLGuA::-webkit-scrollbar {
  width: 5px;
}


/*
**********************************************
* Default theme styles
**********************************************
*/
.text-themegreen{
  color: $theme-blue !important;
}
.link-theme{
  color: $theme-blue !important;
  transition: all 0.5s ease;
  text-decoration: none;
  &:hover, &:focus, &:active{
    color: $theme-black !important;
    text-decoration: none;
    transition: all 0.5s ease;
  }
}
.read-or-hide{
  cursor: pointer;
  color: $theme-blue;
  margin-left: 5px;
}
.img-table{
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #97979799;
  border-color: #97979799;
}

.btn-green-theme{
  background: $theme-blue;
  border-radius: 0;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 13px;
  &.h40{
    height: 40px;
  }
  svg{
    margin-right: 5px;
    width: 15px;
    height: 12px;
    transform: translateY(-1px);

    path{
      fill: $link-hover-white;
    }
  }
  &:hover, &:focus, &.active{
    svg{
      path{
        fill: $theme-blue;
      }
    }
    background: transparent;
    color: $theme-blue;
    border: 1px solid $theme-blue;
    transition: all 0.5s ease;
  }
  &.active{
    &:hover, &:focus{
      background: $theme-blue;
      color: $link-hover-white;
      border: 1px solid transparent;
      transition: all 0.5s ease;
    }
  }
}

.btn-red-theme{
  background: $theme-red;
  border-radius: 0;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 13px;
  &.h40{
    height: 40px;
  }
  svg{
    margin-right: 5px;
    width: 15px;
    height: 12px;
    transform: translateY(-1px);

    path{
      fill: $link-hover-white;
    }
  }
  &:hover, &:focus, &.active{
    svg{
      path{
        fill: $theme-red;
      }
    }
    background: transparent;
    color: $theme-red;
    border: 1px solid $theme-red;
    transition: all 0.5s ease;
  }
  &.active{
    &:hover, &:focus{
      background: $theme-red;
      color: $link-hover-white;
      border: 1px solid transparent;
      transition: all 0.5s ease;
    }
  }
}

.btn-filter-theme{
  background: #41d2d200;
  border-radius: 0;
  border: none;
  transition: all 0.5s ease;
  text-decoration: underline;
  color: $theme-blue;
  font-size: 13px;
  &.h40{
    height: 40px;
  }
  &:hover, &:focus, &.active{
    background: transparent;
    color: $theme-grey;
    border: none;
    transition: all 0.5s ease;
  }
  &.active{
    &:hover, &:focus{
      background: transparent;
      color: $theme-blue;
      border: none;
      transition: all 0.5s ease;
    }
  }
}

.checkbox{
  .form-check-input{
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.5s ease;
    &:checked {
      background-color: $theme-blue;
      border-color: $theme-blue;
      border-radius: 0;
      transition: all 0.5s ease;
    }
  }
}
.custom-file-upload{
  .toggleFileUpload{
    background: transparent;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    padding: 8px 10px;
    color: $theme-grey !important;
    border: 1px solid $theme-grey !important;
    cursor: pointer;
    text-align: center;
    svg{
      margin-right: 5px;
      path{
        fill: $theme-grey;
      }
    }

    &:hover, &:focus{
      svg{
        path{
          fill: $link-hover-white;
          transition: all 0.5s ease;
        }
      }
      background: $theme-blue;
      color: $link-hover-white !important;
      border: 1px solid $theme-blue !important;
      transition: all 0.5s ease;
    }
  }
  .form-control{
    display: none;
  }
}

.pass-field{
  .input-group{
    .btn-outline-secondary{
      padding: 4px 8px;
      border-color: $hr-color;
      border-radius: 0;
      box-shadow: none;
      background: $link-hover-white;
      svg{
        path{
          fill:$hr-color
        }
      }
      &:hover, &:focus{
        background: $theme-blue;
        color: $link-hover-white;
        svg{
          path{
            fill:$theme-white
          }
        }
      }
    }
  }
}

.search-group, .select-group{
  .input-group-text{
    background: transparent;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    svg{
      width: 15px;
      height: 15px;
    }
  }
  .form-control, .form-select{
    height: 40px;
    border-left: 0;
    font-size: 14px;
    padding-left: 5px;
    outline: none !important;
    box-shadow: none !important;

    &:focus, &:hover{
      outline: none !important;
      box-shadow: none !important;
      border-color: $hr-color;
    }
  }
}
.form-control{
  &.urlField {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clipPath='url(%23clip0_985_2960)'%3E%3Cpath d='M3.74571 13.9588C2.99162 14.0786 2.19401 13.9355 1.53778 13.5414C0.863991 13.1429 0.356881 12.4796 0.13791 11.7288C-0.193753 10.6386 0.0815639 9.38312 0.866352 8.55173C1.84413 7.57559 2.82056 6.59776 3.79801 5.62095C4.08176 5.31323 4.41646 5.04937 4.79265 4.86379C5.43708 4.5419 6.19083 4.44607 6.89566 4.59319C7.51748 4.72073 8.10017 5.03655 8.54317 5.49138C8.73616 5.69046 8.72807 6.04103 8.529 6.23302C8.33196 6.4439 7.96386 6.44458 7.7648 6.23606C7.40142 5.87165 6.9051 5.64659 6.39192 5.6115C5.89156 5.57439 5.37939 5.7161 4.97316 6.01168C4.821 6.11762 4.69751 6.25765 4.56255 6.38351C3.66203 7.28305 2.76253 8.18327 1.86269 9.08316C1.70276 9.25052 1.529 9.40809 1.40956 9.60885C0.915275 10.3782 0.974319 11.4606 1.56443 12.1624C1.92241 12.6 2.46495 12.8713 3.02638 12.9169C3.61952 12.9692 4.24 12.7795 4.6776 12.3699C5.22891 11.83 5.77077 11.2801 6.31736 10.7351C6.43072 10.6154 6.5586 10.4882 6.73168 10.4696C6.98372 10.4237 7.24993 10.5853 7.32719 10.8289C7.38995 11.0182 7.34237 11.2406 7.19864 11.3806C6.67635 11.905 6.15169 12.4269 5.62974 12.9516C5.13815 13.4861 4.46437 13.8495 3.74571 13.9588Z' fill='%239F9F9F'/%3E%3Cpath d='M8.23349 9.4395C7.2223 9.59303 6.1433 9.23503 5.44017 8.48867C5.25763 8.28048 5.28159 7.93092 5.48943 7.74838C5.69052 7.55403 6.0431 7.56111 6.23643 7.76323C6.54177 8.06791 6.93889 8.27981 7.36401 8.35606C7.93084 8.46336 8.54086 8.33616 9.01051 7.99908C9.17044 7.89178 9.29832 7.74636 9.43766 7.6151C10.3432 6.71016 11.2485 5.80487 12.1537 4.89959C12.2792 4.76597 12.4182 4.64383 12.5232 4.49233C12.8899 3.98587 13.01 3.31711 12.8663 2.71112C12.7469 2.17834 12.4101 1.69685 11.9466 1.40735C11.1516 0.897515 10.018 0.978831 9.32497 1.62802C8.73722 2.1996 8.16364 2.78569 7.58231 3.36402C7.46894 3.48515 7.30058 3.55162 7.13458 3.53373C6.89705 3.51788 6.68685 3.3215 6.65345 3.08599C6.62511 2.91694 6.68078 2.73744 6.80292 2.61698C7.32386 2.0923 7.84919 1.57201 8.37013 1.04766C8.75274 0.636356 9.23961 0.319185 9.77776 0.153177C10.5669 -0.0968466 11.4502 -0.0404978 12.1976 0.317162C12.7985 0.60059 13.3039 1.08107 13.6153 1.66783C14.0067 2.39665 14.1015 3.27392 13.8906 4.07225C13.7567 4.59187 13.4851 5.07201 13.1194 5.46375C12.1382 6.4382 11.1624 7.41873 10.1843 8.39622C9.67654 8.95126 8.98049 9.33558 8.23349 9.4395Z' fill='%239F9F9F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_985_2960'%3E%3Crect width='14' height='14' fill='white' transform='translate(14 14) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: 6px center;
  }
}
.DateRangePicker{
  flex-wrap: nowrap;
  .dateRange{
    background: $theme-blue;
  }
  .rmdp-container{
    display: block;
    height: auto;
    width: 100%;
    input{
      background-color: #fff;
    }
  }
}

.form-control{
  box-shadow: none;
  outline: none;
  border-color: $hr-color;
  &:focus{
    box-shadow: none !important;
    outline: none;
    border-color: $hr-color;
  }
}

.validation-error{
  color: $cancelled-color;
  font-size: 12px;
  display: block;
  text-align: left;
}

/*
**********************************************
* Dashboard Sidebar
**********************************************
*/

.nav-link {
   font-family: 'Poppins', sans-serif;
  background: transparent;
  border-radius: 0;
  color: $theme-black;

  svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  &:hover,
  &:focus,
  &.active {
    background-color: $theme-blue;
    color: $link-hover-white;
    transition: all 0.5s ease;
    svg path {
      stroke: #fff !important;
    }
  }
}




.dashboard{
  .nav-link {
    &:hover,
    &:focus,
    &.active {
      background-color: unset;
      color: $link-hover-white;
      transition: all 0.5s ease;

    }
  }
}


/*
**********************************************
* Signin / Signup css
**********************************************
*/
.authLayout{
  height: 100vh;
  position: relative;
  overflow: hidden;
background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    h1{
      text-transform: uppercase;
      font-weight: bold;
      color: $theme-black;
      font-size: 16px;
      margin-top: 1rem;
    }
    .checkbox {
      font-weight: 400;
    }
    .form-check{
      display: inline-block;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      &:focus {
        z-index: 2;
      }
    }
    input[type="email"] {
      margin-bottom: 16px;
      border-radius: 0;
    }
    input[type="password"] {

      border-radius: 0;
    }
    input[type="text"] {
      border-radius: 0;
    }
  }
}

/*
**********************************************
* Dashboard Header
**********************************************
*/

.TruthGPT-header{
  background-color: #ffffff;
  .dropdown-item.active, .dropdown-item:active{
    color: #1e2125;
    background-color: #e9ecef;
  }
  .dropdown-item a{
    display: block;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:focus ,&:active{
      transition: all 0.5s ease;
      color: #212529;
    }
  }

  .navbar-nav{
    .nav-link{
      color: $theme-white;
      transition: all 0.5s ease;
      svg{
        path{
          fill: $theme-white;

        }
      }
      &:hover, &:focus{
        color:$theme-blue;
        transition: all 0.5s ease;
        svg{
          path{
            fill: $theme-blue;
          }
        }
      }
    }
  }

  .profileDropdown{
    a#basic-nav-dropdown{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $theme-black;
      svg{
        height: 30px;
        width: 30px;
        path{
          fill: $theme-black;

        }
      }
      &:hover, &:focus{
        background-color: rgba(255, 255, 255, 0) !important;
        transition: all 0.5s ease;
        svg{
          path{
            fill: $theme-black;
          }
        }
      }
    }
  }

  .notificationsDropdown{
    a{
      &:after{
        content: unset;
      }
    }
    &.hasNotifications{
      a.nav-link{
        position: relative;
        &:after{
          content: ' ';
          position: absolute;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: $red-notification-color;
          border: none;
          right: 5px;
          top: 10px;
        }
      }
    }
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: $theme-blue;

}

a.nav-link.link-dark.active svg path {
  stroke: #fff;
}

.offcanvas-body ul li a.nav-link {
  padding-left: 1rem;
}
/*
**********************************************
* Dashboard Sidebar
**********************************************
*/




/*
**********************************************
* Dashboard Main Contents Area
**********************************************
*/


/*
*************************************************
* Dashboard Layout
*************************************************
*/
.sidebar-nav {
  background-color: #f8f9fa;
  .nav-link{
    font-size: small;
  }
}
.linkStats{
  text-decoration: none;
  color: #454B60;

  &:hover, &:focus{

    .card-outline{
      border-color: $theme-grey ;
      h2, h6{
        color: $theme-grey ;
      }
    }
  }
}
.order-card {
  //color: #fff;
  &.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }

  &.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }

  &.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }

  &.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }

  &.bg-theme-blue{
    background: $theme-blue;
  }
  &.bg-success{
    background: $success-bgcolor;
  }
  &.bg-danger{
    background: $cancelled-bgcolor;
  }

  &.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    span{
      svg{
        width: 60px;
        height: 60px;
      }
    }
    h2, h6, p{
      color: $link-hover-white;
    }
  }
  &.card-outline{
    background-color: rgb(42, 42, 42);
    border: 1px solid $theme-grey;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 20px;
    min-height: 105px;
    height: 100%;
    h6{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      text-decoration: none;
      color: white;
      margin-bottom: 5px;
    }
    h2{
      font-weight: 600;
      font-size: 30px;
      line-height: 1.0;
      letter-spacing: 0.22px;
      color: white;
      margin-bottom: 0;
      //text-align: end;

      small{
        font-size: 14px;
        display: block;
        font-weight: 300;
      }
    }
  }
  .card-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
  }
}

/*
*************************************************
* SubCategory page / SubCategory Box
*************************************************
*/
.CategoryBox{
  padding: 10px;
  margin-bottom: 20px;
  //background: $theme-grey;
  border: 1px solid $hr-color;

  .CategoryBoxHeader{
    display: flex;

    .toggleIcon{
      margin-right: 10px;
      cursor: pointer;
      svg{
        width: 12px;
        position: relative;
        height: 13px;
        vertical-align: middle;
        transform: translateY(3px);
      }
    }
    .catActions{
      margin-left: auto;
    }
    .invisibleTextInput{
      border: none;
      background: transparent;
      outline: none;
      box-shadow: none;
      height: 31px;
      font-size: 16px;
      line-height: 31px;
      color: $theme-black;
    }
  }

  .CategoryBoxBody{
    margin-top: 10px;
    margin-left: 25px;
    .input-btn-group{
      display: flex;
      border: 1px solid grey;
      background: transparent;
      margin-bottom: 10px;
      .subCategoryInput{
        border: 1px solid transparent;
        border-radius: 0;
        font-size: 12px;
        line-height: 18px;
        color: $theme-grey;
        height: 32px;
        outline: none;
        box-shadow: none;
      }
      .btn-trash{
        //background: none;
        border: none;
        width: 31px;
        height: 31px;
        padding: 0;
        margin: 0px auto;
        text-align: center;
        background-color: transparent;
        border-radius: 0;
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.actionDropdown{
  .dropdown-menu{
    border-radius: 0;
    .dropdown-item{

      &:hover, &:focus{
        background-color: $theme-blue;
        color: $link-hover-white;
        transition: all 0.5s ease;
        a{
          color: $link-hover-white;
        }
      }
      a{
        text-decoration: none;
        color: $theme-black;
        display: block;
      }

    }
  }
  button.dropdown-toggle{
    background: $link-hover-white;
    border-radius: 0;
    padding: 0 5px;
    width: 31px;
    height: 31px;
    border: none;
    outline: none;
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
    &:after{
      content: unset;
    }
    svg{
      path, ellipse{
        fill: $theme-grey;
      }
    }
  }
  &.show{
    .dropdown-toggle{
      background: $theme-blue;
      border-color: $theme-blue;
      box-shadow: none;
      &:focus{
        box-shadow: none;
      }
      svg{
        path, ellipse{
          fill: $link-hover-white;
        }
      }
    }
  }
}
.main_content_wrapper {
  padding: 0 1.5rem 2rem;
  height: 90vh;
  overflow-y: auto;
}

.main_content_wrapper .page-heading, .modalBodyContent .page-heading {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  text-transform: capitalize;

}

.main_content_wrapper .page-heading {
  margin-top: 20px;
}
.rdw-editor-main {
  min-height: 200px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
}
video {
  margin-top: 0.5rem;
}
.AddNewAd img {
  margin-top: 0.5rem;
}
.EditAd img {
  margin-top: 0.5rem;
}
.profile {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  flex-direction: row-reverse;
}

.profile svg {
  font-size: 2rem;
}
.hXLGuA {
  min-height: 180px !important;
}

.eguvnT {
  min-height: 180px;
}
//.theme-dataGrid.products-dataGrid > div {
//  min-height: 180px !important;
//  overflow-y: auto;
//}

.rdt_Table {
  min-height:240px !important;
  overflow-y: auto;
}

.authentication a {
  color: $theme-black;
}

.css-wsp0cs-MultiValueGeneric {
  font-size: 68% !important;
}

.otpInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.otpInput input {
  height: 40px !important;
  width: 40px !important;
  margin: 0px 0px !important;
}


.resendOTP {
  margin-top: 1rem;
  color: #ffffff;
}

.resendOTP button {
  border: unset;
  background-color: unset;
  color: #ffffff;
  text-decoration: underline;
}

.react-datetime-picker__wrapper {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  height: 38px;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.main_content_wrapper .dashboard-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.theme-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otpInput{
  input::placeholder{
    color: #999 ;
  }
}
button.resend {
  border: none;
  background-color: #ffffff6b;
  margin-top: 10px;
  color: #4169e1;
}

.otp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 100% !important;
  outline: none;
}

.input-group .btn {
  position: relative;
  z-index: 1 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.constant-edit {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.constantsPage div[data-column-id="description"] {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.constantsPage {
  div[data-column-id="default"] {
    div[data-tag="allowRowEvents"] {
      white-space: unset;
    }
  }
}

  .table-spin-loader .css-kud8pv {
    top: -8px !important;
    left: -5px !important;
  }


.ViewUser {
  h4 {
    margin: 20px 10px;
  }

  .nav-link {
    color: #000000;
    &:hover{
      background-color: #ffffff;
      color: #000000;
      cursor: pointer;
    }
  }


  img.user-profile {
    width: 100%;
    height: 100%;
  }

  .img-cover {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
  }
}

.checkbox-group {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  margin: 5px;
}

.remove-button {
  margin-left: 5px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}
.custom-file-input::before {
  content: 'Choose File';
  display: inline-block;
  background: #41D2D2;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.5s ease;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  margin-right: 5px;
}
.custom-file-input:hover::before {
  background: transparent;
  color: #41D2D2;
  border: 1px solid #41D2D2;
}
.custom-file-input:active::before {
  background: transparent;
}

a.floating-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  background: #41D2D2;
  border-radius: 0;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 13px;

  &.h40{
    height: 40px;
  }
  svg{
    transform: translateY(-1px);
  }
  &:hover, &:focus, &.active{
    background: transparent;
    color: $theme-blue;
    border: 1px solid $theme-blue;
    transition: all 0.5s ease;
  }
  &.active{
    &:hover, &:focus{
      background: $theme-blue;
      color: $link-hover-white;
      border: 1px solid transparent;
      transition: all 0.5s ease;
    }
  }

}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
  min-height: 200px;
}

.image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

ul.order-list {
  list-style: none;
  padding: 0;
}

ul.shipping-list {
  list-style: none;
}

span.order-list-title {
  font-weight: 600;
}

span.shipping-list-title {
  font-weight: 500;
}

.disabled-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

.disabled-file-input::before {
  content: "Choose File";
  display: inline-block;
  background: #f2f2f2;
  color: #888888;
  border: 1px solid #ffffff;
  transition: all 0.5s ease;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: not-allowed;
  margin-right: 5px;
}

//sidebar scroll
.sidebar-nav{
      ul.nav.nav-pills {
        height: calc(100vh - 85px);
        display: block;
        overflow-y: auto;
        width: 100%;
        &::-webkit-scrollbar{
          display: none;
        }
        box-shadow: inset 0 25px 20px -10px #00000021, inset 0 -25px 20px -10px #00000021;
        li.nav-item {
          width: 100%;
        }
      }
}

span#basic-addon1 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.basic-multi-select>div>div>div {
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
}

.form-select {
  font-size: 14px;
  height: 38px;
}

input::placeholder {
  font-size: 14px;
}

textarea::placeholder {
  font-size: 14px;
}

.DraftEditor-editorContainer {
  z-index: 0 !important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: .65;
  background: #e9ecef;
  color: black;
}

.input-group-text {
  border:1px solid #c4c4c4 !important;
}
input#filter_date {
  font-size: 14px !important;
}

.custom-toggle.dropdown-toggle:after {
  position: absolute;
  right: 10px;
  top: 17px;
}

.show .custom-toggle.dropdown-toggle:after{

  transform: rotate(180deg);
  position: absolute;
  right: 10px;
  top: 17px;
}

.custom-dropdown.show {
  background-color: #f5deb300;
  border: none;
  border-radius: 0;
  display: block;
  position: static;
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #41d2d2;
  }
}
.show{
  .custom-toggle{
    svg{
      path{
        stroke: white;
      }
    }
  }
}

.custom-dropdown li a{
  //background: transparent;
  //border-radius: 0;
  //color: #000;
  //font-family: Poppins,sans-serif;
  //font-size: 12px;
  //font-style: normal;
  //font-weight: 400;
  //line-height: 18px;
  padding-left: 40px;
  padding-right: 0;
  font-size: small;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px !important;
  letter-spacing: inherit;
  color: currentColor;
  /* padding: 4px 0 5px; */
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 38px !important;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 0px 14px !important;
  padding-right: 0;
}

.post-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  width:100%;
  max-width: 150px;
  height: 100px;
  object-fit: contain;
}


.Image-Modal-Body.modal-body {
  height: fit-content;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7rem;
}

.Image-Modal .modal-dialog {
  width: fit-content;
  min-width: 200px;
  max-width: 500px;
}

.Image-Modal-Header.modal-header {
  display: contents;
}

.Image-Modal-Header button.btn-close {
  position: absolute;
  right: 8px;
  z-index: 999999;
  top: 8px;
}

img#img-preview {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

input#image {
  display: block;
}

.profileImg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  max-height: 400px;
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  }
}

.license-list {
  border: 1px solid #dee2e6;
  padding: 10px !important;
  border-radius: 5px;
  margin-bottom: 5px;
  width: fit-content;
}

ul.order-list li {
  padding: 0px 10px;
}

span.license-number {
  width: 25px;
  height: 25px;
  background-color: #41d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  margin-bottom: 5px;
}

.img-ad{
  width: 300px;
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}
